{% extends 'home/base.html' %}

{% block content %}
    <h1>Curently discussed topics</h1>
    {% for topic in topics %}
    <form class="" action="{% url 'debate-home' %}" method="get">
        <div class="">
            <input type="hidden" name="topic" value="{{ topic.topic }}">
            <h3>{{ topic.topic }}</h3>
            <!-- <p>{{ topic.description }}</p> -->
            <button type="submit" name="button" style="float: right" class="btn btn-primary">View</button>
        </div>
    </form>
    {% endfor %}

    <div class="">
        {{ topic }}
        <!-- {{ comments }} -->
    </div>
{% endblock content %}
